<div class="col-xs-10 col-sm-8 col-xs-offset-1">
	<h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/MelanieJae">Melanie</a>. She is an aspiring web developer who hopes to continue learning and turning a series of fun projects into a career.
  </p>
  <br />
  
  <p>
    She learned how to code from <a target="_blank" href="http://www.thefirehoseproject.com/">here</a> and you can too.
  </p>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />