<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>
<% if false %>
lines 1 and 2 pull the value of @quote, which is equal to Quote.first, the first entry created and pushed to the database aka what I put there from the rails console with the Quote.create command) and then make the ":saying" part of the quote that I input the t.string :saying and the "author" part of the quote I put the t.string :author, spitting out the :saying string of quote.create on the first line as a first HTML heading and :author string on the second line as a second HTML heading.
<% end %>

<%-# my code for splurty app-%>
<% if false %>
<h1>Meet the invisible monk on 
 	your shoulder
</h1>
<p>Prefer an angel? A shaman? A mullah? Okay
click here...</p>
<% end %>