<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>

<% if false %>
<h1>Meet the invisible monk on 
 	your shoulder
</h1>
<p>Prefer an angel? A shaman? A mullah? Okay
click here...</p>
<% end %>